/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements a Marseille***********/
.hebergements {
    width: 65%;
}
/*Fait par Lucas*/
.hebergement-a-marseille{
    font-size: 22px;
    margin: 0;
    margin-bottom: 25px;
}

.hebergements-container{
    max-width: 1300px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 41px;
    justify-content: center;
}

.hotel-du-port{
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
}

.hotel-du-port img{
    width: 95.5%;
    height: 119px;
    border-top: 5px solid #FFFF;
    border-left: 5px solid #FFFF;
    border-right: 5px solid #FFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hotel-du-port h2{
    padding-left: 15px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.hotel-du-port p{
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px
}

.hotel-du-port i{
    font-size: 13.25px;
    gap: 2.5px;
    padding-bottom: 10px;
}

.image-etoile_hebergement{
    padding-left: 15px;
}

.couleur-gray{
    color: rgb(207, 207, 207);
}

.container_nav_bar3{
    font-weight: bolder;
    padding-top: 5%;
    display: flex;
    align-items: flex-start;
}

.link_3{
    color: black;
    font-size: 18px;
}

/*Activités à Marseille*/
.activity-and-picture{
    display: block;
}

.activity-and-picture h1{
    margin-left: 2%;
    margin-bottom: 0;
    margin-top: 65px;
}

.activity-and-picture article{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgb(196, 196, 196), -4px -4px 10px rgb(196, 196, 196);
}

.activity-and-picture img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px ;
    object-fit: cover;
}

.activity-and-picture h2{
    font-size: 16px;
    margin-left: 20px;
}

.picture-container{
    padding: 30px 0px 65px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 22.5%);
    gap: 30px;
    padding-left: 2%;
}

/*Finit par Lucas*/

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards{
    flex-wrap: wrap;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating .couleur-gray-populaire{
    font-size: 13px;
    color: rgb(219, 219, 219);
}

/* Fait par Lucas */

/******LOGO******/
.logo-header{
    height: auto;
    width: 70px;
}

/*Fin LOGO*/

/******Liens******/
a{
   text-decoration: none;
}

nav{
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_1{
    color: black;
    padding-top: 16px;
}

.link_2{
    color: black;
    padding-top: 16px;
}

.link_1:hover{
    color: #0065FC ;
}

.link_2:hover{
    color: #0065FC ;
}

#container_nav{
    display: flex;
    height: 74px;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-lien1{
    height: 74px;
    width: 40%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.nav-lien2{
    height: 74px;
    width: 28%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.nav-lien1:hover{
    border-top: 1px solid rgb(13, 27, 236) ;
}

.nav-lien2:hover{
    border-top: 1px solid rgb(13, 27, 236) ;
}

/*Fin liens */

/******Text HEADER******/
.vacances-de-rêve{
    font-size: 22px;
}

.en-plein-centre-ville{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    line-height: 18.78px;
}
/*Fin Text HEADER*/

/******Rechercher******/
.container_research{
    margin-bottom: 2%;
    margin-top: 2%;
}

.container_research_1{
    display: flex;
    height: 49px;
    width: 27%;
    min-width: 250px;
}

.container_research_1 input{
    border: none;
}

.container-emoji-localisation{
    width: 30%;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(238, 238, 238);
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-magnifying-glass{
    font-size: 0;
    color: white !important;
}

#items_1{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(199, 199, 199);
}

#items_2{
    height: 100%;
    width: 65%;
    border: none;
    background-color: #0065FC;
    color: aliceblue;
    font-weight: 900;
    font-size: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*Fin Rechercher*/

/******Filtres******/
.container_bouton_filtre{
    width: 65%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container_bouton_filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.container_bouton_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 21px;
}

.container_bouton{
    display: flex;
    height: 50px; 
    border: 1px solid rgb(126, 124, 124);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;

}
.container_bouton i{
    display: block;
    font-size: 16px;
    cursor: pointer;
}
.container_bouton input{
    font-size: 17px;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.container_bouton:hover {
    background-color: #DEEBFF;
    color: white;
}

#items_3{
    height: 100%;
}
/*Fin des Filtres*/

/******Text sur les 500 Logements******/
.cinq-cents_logements{
    display: flex;
    align-items: center;
    margin-top: 37.5px;
    margin-bottom: 37.5px;
    height: 37.5px;
}
.cinq-cents_logements i{
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}
.cinq-cents_logements-text{
    margin-left: 10px;
    display: flex;
}
/*Fin du Text sur les 500 Logements*/
/*Footer*/

/*Footer*/
.container_footer{
    display: flex;
    flex-flow: row wrap;
    gap: 20%;
    background-color: rgb(235, 235, 235);
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
}

.container_footer h1{
    font-size: 20px;
}

.container-liens_footer1 a{
    color: black;
    display: flex;
    font-size: 16px;
    padding-bottom: 5%;
    font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/*Logo*/
.logo-header{
    height: 20px;
    width: 61px;
}

/*Liens (Hébergement,Activités)*/

#container_nav{
    width: 35%;
}

.link_1{
    font-size: 14px;
}

.link_2{
    font-size: 14px;
}

/*Trouvez votre Hébergement*/
.vacances-de-rêve{
    font-size: 19px;
}

/* En plein centre-ville*/
.en-plein-centre-ville{
    font-size: 16px;
    margin-bottom: 35px;
}

/*Recherche (image,text,bouton)*/

.container_research_1{
    max-width: 326px;
    width: 50%;
}

/*Filtres (Economique,Familial,Romantique,Nos-Pépites)*/

.container_bouton_filtre{
    width: 90%;
}

.container_bouton_filtres{
    position: absolute;
    margin-top: 50px;
    gap: 8px;
}

.container_bouton{
    height: 40px;
}

.container_bouton_text{
    font-size: 14px;
    height: 90px;
}

.container_bouton input{
    font-size: 90%;
}

.container_bouton i{
    font-size: 75%;
}

/*Plus de 500 logements sont disponibles (text)*/   
.cinq-cents_logements-text{
    font-size: 100%;
}

.cinq-cents_logements{
    margin-top: 20px;
    margin-bottom: 20px;
}
    
/*Hébergements à Marseille*/
    .hebergements-container{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
    }

    .hotel-du-port img{
        height: 100px;
    }

    .hotel-du-port h2{
        margin-bottom: 0px;
        font-size: 80%;
    }

    .hotel-du-port p{
        margin-top: 4.5px;
        margin-bottom: 0px;
        font-size: 70%;
    }

/*Les plus populaires*/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/*Activité Marseille*/

.activity-and-picture{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 65px;
}

.activity-and-picture h1{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
}

    .activity-and-picture article{
        width: 100%;
    }

    .activity-and-picture img{
        height: 170px;
        width: 100%;
    }

    .rectification{
        padding-top: 5px;
    }

    .activity-and-picture h2{
        font-size: 14px;
        display: flex;
        margin-left: 10px;
        
    }

    .picture-container{
        gap: 20px;
        display: flex;
        padding: 0px 0px 35px 0px;
    }

/*FOOTER*/
    .container_footer{
        justify-content: space-between;
        padding-right: 100px;
        gap: 0;
    }

    .container-liens_footer1 h1{
        font-size: 100%;
    }

    .container-liens_footer1 a{
        font-size: 80%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
/*HEADER*/
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo-header{
    margin-top: 10px;
    width: 59px;
}

.link_1{
    color: black;
    font-size: 14px;
}

.link_1:hover{
    color: #0065FC;
}

.link_2{
    color: black;
    font-size: 14px;
}

.link_2:hover{
    color: #0065FC;
}

.nav-lien1:hover{
    border-top: none;
    border-bottom: 1px solid rgb(13, 27, 236) ;
}

.nav-lien2:hover{
    border-top: none;
    border-bottom: 1px solid rgb(13, 27, 236) ;
}

.nav-lien1{
    height: 40px;
    width: 50%;
    align-items: start;
}

.nav-lien2{
    height: 40px;
    width: 50%;
    align-items: start;
}

#container_nav{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: unset;
    flex-wrap: unset;
    border-bottom: 1px solid rgb(206, 206, 206);
}

/*Trouvez votre Hébergement*/
.vacances-de-rêve{
    font-size: 19.5px;
    margin-bottom: 8px;
    margin-top: 50px;
    margin-left: 20px;
}

.en-plein-centre-ville{
    font-size: 15px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 35px;
}

/*Rechercher*/
.container_research_1{
    display: flex;
    height: 49px;
    min-width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}

.container-emoji-localisation{
    width: 50px;
}

#items_1{
    font-size: 80%;
    width: 60%;
    border-right: none;
    border-left: none;
}

#items_2{
    width: 50px;
    background-color: #0065FC;
    color: #0065FC;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
    font-size: 0;
}

#rechercher{
    font-size: 0;
}

.fa-magnifying-glass{
    font-size: 15px;
}

/*Filtres*/

.container_bouton_text{
    display: flex;
    height: auto;
    margin-bottom: 80px;
}

.filtres{
    margin-left: 20px;
    font-size: 15px;
}

.container_bouton_filtres{
    margin-left: 5%;
    height: 100px;
    width: 90%;
    grid-template-columns:  repeat(2, 30%);
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.container_bouton{
    width: 110px;
    height: 35px;
    font-size: 13px;
}

.container_bouton i{
    font-size: 16.25px;
}
#items_3{
    padding-left: 10px;
}

#items_4{
    padding-left: 14.56px;
}

#items_5{
    padding-left: 10px;
}

#items_6{
    padding-left: 11.5px;
}

/*Plus de 500 logements*/
.cinq-cents_logements{
    width: auto;
    padding: 0px 20px 0px 20px;
    margin-top: 32px;
}

.cinq-cents_logements-text{
    font-size: 13px;
    font-weight: 500;
}

.cinq-cents_logements i{
    width: 30px;
}

/*****Les plus populaires*****/

.hebergements-and-populaires section {
    border-radius: 0;
    padding: 0px;
}

.populaires-title{
    padding-right: 20px;
}

.section-title{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.populaires-cards{
    padding: 0px 20px 0px 20px;
}

.main-container{
    padding: 0;
}

/*RECTIFICATION: permet de changer l'ordre de ("hébérgement à Marseille" ET "Les plus populaires"*/
.populaires{
    order: -1;
    margin-top: 0px;
}

/*RECTIFICATION: regler la largeur des blocks*/
.populaires-cards .card {
    width: 100%;
    margin-top: 15px;
}

/*****Hébergement à Marseille*****/
.container_couleur-de-fond_hebergements{
    background-color: #FFFF;
    padding: 30px 20px 0px 20px;
    margin-top: 33px;
}

#replacement-image1{
    order: -1;
}

#replacement-image2{
    order:1;
}

#replacement-image3{
    order: -1;
}

.hotel-du-port{
    width: 100%;
    box-shadow: 1px 1px 10px rgb(207, 207, 207), -1px -1px 10px rgb(207, 207, 207);
}

.hotel-du-port h2{
    font-size: 16px;
}

.hotel-du-port p{
    font-size: 14px;
}

.hotel-du-port i{
    padding-top: 8px;
}

.hebergement-a-marseille{
    font-size: 20px;
}

.hebergement-a-marseille {
    font-size: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}

.hebergements-container{
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 15px;
}

.link_3{
    padding-top: 15px;
    font-size: 18px;
}

.container_nav_bar3{
    display: block;
    padding-top: 15px;
}
/*****Activités à Marseille*****/

.activity-and-picture{
    margin-top: 58px;
    padding: 0px 30px 0px 30px;
}

.activity-and-picture h1{
    font-size: 20px;
    margin-bottom: 30px;
}

.picture-container{
    flex-direction: column;
}

.picture-container article{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px rgb(207, 207, 207), -1px -1px 10px rgb(207, 207, 207);
}

.picture-container img{
    height: 70%;
}

.picture-container h2{
    font-size: 16px;
    margin-top: 5%;
}
/*FOOTER*/

.container_footer{
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.container-liens_footer1 h1{
    margin-top: 30px;
    margin-bottom: 15px;
}

.container-liens_footer1{
    margin-bottom: 10px;
}

.container-liens_footer1 a{
    padding-bottom: 16px;
}

.container-liens_footer1 h1{
    font-size: 18px;
}

#fin-footer{
    padding-bottom: 30px;
}

.container-liens_footer2{
    margin-bottom: 5px;
}
}